html {
  scroll-behavior: smooth;
}

:root {
  --bg-color-1: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 253, 149, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --bg-color-2: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 105, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --white-color: white;
  --bg-color-3: linear-gradient(
    90deg,
    rgba(149, 26, 189, 1) 0%,
    rgba(29, 253, 153, 1) 100%
  );

  /* --brand-color-3: linear-gradient(
    90deg,
    rgba(37, 197, 204, 1) 0%,
    rgba(237, 81, 245, 1) 100%
  ); */

  --brand-color-3: linear-gradient(
    90deg,
    rgba(51, 235, 216, 1) 35%,
    rgba(0, 155, 255, 1) 100%
  );

  --brand-color-32: #161616;
  --brand-color: black;
  --brand-2: #ff01ff;
  --brand-3: #39fcfc;

  --gray-color: #899499;
  --black-m: #0d0e0e;
  --black-m1: #1c1f1f;
  /* --black-m: #1c2023; */
}

body {
  margin: 0;
  background-color: white;
  cursor: url(/images/cursor/cursor-1.png), auto;
}

body {
  position: relative;
  height: 100%;
}

h3 {
  margin: 0;
}

ul {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  ul {
    gap: 13px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

a {
  cursor: url(/images/cursor/cursor-2.png), auto;
}

button {
  cursor: url(/images/cursor/cursor-2.png), auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  /* max-width: 503px; */
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 78px;
  font-weight: 700;
  top: 0;
  left: 13%;
  z-index: 1;
  color: black;
  font-optical-sizing: auto;

  background: linear-gradient(
    90deg,
    rgba(51, 235, 216, 1) 35%,
    rgba(0, 155, 255, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.h-text-1 {
  font-size: 36.5px;
  margin-bottom: 25px;
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .h-text-1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-text-1 {
    font-size: 21px;
    margin-bottom: 10px;
  }
}

.smile {
  font-size: 25px;
}

.h-flex {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .h-flex {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-flex {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .h-flex li img {
    align-self: start;
  }
}

.btn-0 {
  position: relative;
  padding: 13px;
  width: 295px;
  background-color: black;
  /* border: 1px solid black; */
  color: white;
}

.btn-0:focus,
.btn-0:hover {
  background: rgba(51, 235, 216, 1);
}

@media screen and (max-width: 768px) {
  .btn-0 {
    width: 200px;
    margin-bottom: 0;
    background: black;
    color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .btn-0 {
    font-size: 13px;
    width: 181px;
  }
}

.qqq {
  position: relative;
}

@media screen and (max-width: 768px) {
  h1 {
    /* margin-top: 22px; */
    font-size: 53px;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

/* add scrollbar */
.window {
  overflow: auto;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar {
  background: white;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--brand-3);
} */

/* ----------------------------------------------------------- */
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 93px;
  z-index: 1;
  padding-top: 20px;
  /* padding-bottom: 25px; */
  color: white;
  background-color: var(--black-m);
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 3px;
  }
}

.h-link {
  background-color: #899499;
  width: 140px;
  border-radius: 8px;
  padding: 5px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 370px) {
  .container {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}

.h-flex p {
  font-size: 12.4px;
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .h-flex p {
    font-size: 8px;
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-flex p {
    font-size: 6.5px;
  }
}

.section {
  background-color: white;
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 0;
    /* background: var(--brand-color-3); */
    padding-bottom: 30px;
    background-color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section {
    padding-top: 10px;
  }
}

.header-wapper {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 41%;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-wapper {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .header-wapper {
    grid-template-columns: 22%;
  }
}

.menu {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .menu {
    gap: 15px;
    grid-template-columns: 22%;
  }
}

.img-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  border: 1px solid black;
}

.btn-wapper {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px;
  border-radius: 8px;
  text-align: center;
  color: var(--brand-3);
  font-size: 15px;
  transition: background-color 250ms linear;
  box-shadow: 0px 6px 10px var(--brand-2);
}

/* .btn:focus,
.btn:hover {
  background-color: var(--brand-2);
  box-shadow: none;
} */

.wapper {
  border-radius: 12px;
}

.www {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .www {
    display: block;
  }
}

.auto {
  border-radius: 10px;
}

.menu a {
  /* box-shadow: 0px 6px 10px var(--brand-2); */
  font-size: 15px;
  color: white;
  transition: color 250ms linear;
  /* color: var(--brand-3); */
}

.menu-2 {
  display: flex;
  position: fixed;
  bottom: 0;
  gap: 0;
  justify-content: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: black;
  border: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 5;
}

.menu-2 a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  font-size: 11.5px;
  transform: perspective(400px) rotateY(0);
  padding-right: 14px;
  padding-left: 14px;

  background-color: black;
  /* border: 1px solid white; */
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;

  transition: all 450ms linear;
}

.menu-2 a:focus,
.menu-2 a:hover {
  background: var(--brand-color-3);
  transform: perspective(400px) rotateY(40deg);
}

/* .sm:focus,
.sm:hover {
  color: var(--brand-2);
} */

@media screen and (min-width: 768px) {
  .menu-2 {
    display: none;
  }
}

.menu a:hover {
  color: var(--brand-2);
  transform: scale(1.2);
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .menu a {
    font-size: 15px;
  }
}

.right {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.right-text {
  display: block;
  text-align: center;
  margin-top: 6px;
  color: white;
}

@media screen and (max-width: 768px) {
  .right-text {
    margin-right: auto;
    margin-left: auto;
    max-width: 303px;
    margin-bottom: 15px;
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .right-text {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1300px) {
  .right-text {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.text {
  padding: 0;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

@media screen and (max-width: 1300px) {
  .text {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1300px) {
  .text {
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
  }
}

.q {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  padding-top: 2px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .q {
    padding-top: 10px;
  }
}

@media screen and (max-width: 1300px) {
  .q {
    display: block;
  }
}

.text-2023 {
  color: white;
  margin: 0;
  margin-right: 14px;
  margin-left: 30px;
}

button {
  font-weight: 500;
  width: 93.5px;
  border-radius: 8px;
  color: black;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border: 1px solid white;
}

@media screen and (max-width: 768px) {
  button {
    width: 35px;
  }
}

@media screen and (min-width: 768px) {
  button {
    width: 89.5px;
  }
}

/* button:focus,
button:hover {
  background-color: var(--brand-2);
} */

.div {
  display: flex;
  flex-direction: column;
  gap: 54px;
  display: none;
}

@media screen and (max-width: 768px) {
  .div {
    display: none;
  }
}

.p {
  position: relative;
  overflow: hidden;
}

.service {
  padding-top: 50px;
  padding-bottom: 30px;
  background: var(--black-m);
}

@media screen and (max-width: 768px) {
  .service {
    padding-top: 30px;
  }
}

.service-title {
  margin-top: 0;
  font-size: 38px;
  margin-bottom: 39px;
  text-align: center;
  color: white;
  text-transform: uppercase;

  font-optical-sizing: auto;
  background: linear-gradient(
    90deg,
    rgba(51, 235, 216, 1) 35%,
    rgba(0, 155, 255, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 768px) {
  .service-title {
    /* padding-top: 20px; */
    font-size: 30px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .service-title {
    font-size: 24px;
  }
}

.wapper-social {
  display: block;
}

.wapper-social h3 {
  margin-bottom: 20px;
}

.icons-center {
  display: flex;
  justify-content: center;
}

.icon {
  fill: white;
}

.icon:hover {
  fill: #44bcbc;
}

a {
  display: inline-block;
  /* text-align: center; */
}

h4 {
  margin: 0;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, auto));
  gap: 30px;
  color: black;
}

.service-list li {
  display: grid;
  border-radius: 8px;
  padding: 20px;
  /* border: 1px solid black; */
  transition:
    border 250ms linear,
    background-color 250ms linear;
  background: rgba(40, 42, 50, 0.4);
  border: 1px solid white;

  /* border-inline: 1px solid; */
  /* border-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    Aqua,
    Fuchsia,
    rgba(0, 0, 0, 0)
  ); */
  /* border-image-slice: 1; */

  /* transform: perspective(400px) rotateX(0);

  transition: transform 450ms linear; */
}

.service-list li .three-title {
  color: black;
}

.service-list li:nth-child(3) {
  /* background-color: white; */
  background: var(--brand-color-3);
}

@media screen and (min-width: 768px) {
  .service-list li {
    grid-template: auto auto minmax(40px, 100px) / auto;
  }
}

@media screen and (max-width: 1300px) {
  .service-list li {
    max-width: 354px;
  }
}

.price {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.price p {
  color: rgba(255, 255, 255, 0.4);
  transition: color 250ms linear 350ms;
}

span {
  display: inline-block;
  text-align: right;
  font-weight: 700;
  margin-top: 10px;
  font-size: 20px;
  margin-top: 0;
  color: white;
  transition: color 250ms linear 350ms;
}

.flex {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}

.f-text {
  padding: 5px;
  border: 1px solid #a79f9f;
  color: #a79f9f;
}

.po-text {
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product {
  position: relative;
  overflow: hidden;
}

.product-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--brand-color-3);
  transform: translateY(-100%);
  transition: transform 250ms linear 200ms;
}

.service-list li:hover .product-thumb {
  transform: translateY(0);
}

.product-footer {
  position: relative;
  overflow: hidden;
}

.product-thum-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  transform: translateY(0);
  transition: transform 250ms linear 200ms;
}

.product-footer:hover .product-thum-footer {
  transform: translateY(-100%);
}

.product-thumb p {
  font-size: 18px;
  margin-bottom: 0;
  text-align: center;
  color: white;
}

.product-thumb a {
  transform: scale(1);
  transition: transform 250ms linear;
}

.product-thumb a:hover {
  transform: scale(1.3);
}

.item-title {
  margin-top: 10px;
  color: white;
  margin-bottom: 10px;
}

.item-text {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
  .item-text {
    margin-bottom: 20px;
  }
}

/* --------------------------------------------------------------- */

.works {
  color: var(--black-m);
  padding-top: 30px;
  padding-bottom: 50px;
}

.title {
  color: black;
}

.service-works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, auto));
  gap: 30px;
  color: black;
}

.service-works li {
  max-width: 402px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  transform: scale(1);
  transition: transform 250ms linear;
}

.service-works li:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1300px) {
  .service-works li {
    max-width: 353px;
  }
}

.iframe {
  max-width: 380px;
}

@media screen and (max-width: 1300px) {
  .iframe {
    max-width: 320px;
  }
}

.footer {
  padding-bottom: 25px;
  color: white;
  background: var(--black-m);
}

@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 74px;
  }
}

.wapper-0 {
  display: grid;

  gap: 30px;
}

@media screen and (max-width: 768px) {
  .wapper-0 {
    text-align: center;

    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .wapper-0 {
    grid-template-columns: 6fr 2.7fr 3fr 1.5fr;
  }
}

@media screen and (min-width: 1300px) {
  .wapper-0 {
    grid-template-columns: 6fr 2.2fr 2.5fr 1.5fr;
  }
}

@media screen and (max-width: 768px) {
  .wapper-logo {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .footer-car {
    width: 376px;
  }
}

.wapper-address > h3 {
  font-size: 18px;
  display: inline-flex;
  color: white;
  margin-bottom: 17px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .wapper-address {
    text-align: center;
  }
}

.wapper-works > h3 {
  font-size: 18px;
  display: inline-flex;
  color: white;
  margin-bottom: 17px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .wapper-works {
    margin-bottom: 0;
    text-align: center;
  }
}

.wapper-social > h3 {
  font-size: 18px;
  display: inline-flex;
  color: white;
  text-transform: uppercase;
}

/* -------------------- */
.contact {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: var(--black-m);
}

@media screen and (max-width: 768px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.c-title {
  font-size: 30px;
}

@media screen and (max-width: 1300px) {
  .c-title {
    font-size: 22px;
  }
}

.contact__form {
  text-align: center;
  width: 402px;
}

.contact__title {
  text-align: center;
  /* text-transform: uppercase; */
}

@media screen and (max-width: 768px) {
  .contact__form {
    max-width: 330px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .contact__form {
    width: 305px;
  }
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .contact__container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1300px) {
  .contact__container {
    gap: 32px;
    justify-content: center;
  }
}

.contact__title {
  display: inline;
  margin: 0 auto 16px;
  font-size: 30px;
  width: 265px;
  color: white;
}

@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .contact__title {
    width: 605px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .contact__title {
    font-size: 22px;
  }
}

.contact__map {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* @media screen and (max-width: 1300px) {
  .contact__map {
    display: none;
  }
} */

@media screen and (min-width: 1300px) {
  .contact__map {
    width: 402px;
    height: 150px;
  }
}

.contact__text {
  margin: 0 auto 24px;
  font-size: 14px;
  color: black;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .contact__text {
    margin-bottom: 42px;
    font-size: 18px;
  }
}

.wapper-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  border-radius: 12px;
  gap: 15px;
}

.bbb {
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .bbb {
    max-width: 400px;
  }
}

.ccc {
  max-width: 601px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .ccc {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .ccc {
    max-width: 400px;
    font-size: 21px;
  }
}

/* .po {
  position: relative;
}

.ab {
  position: absolute;
  top: 103px;
  left: 29px;
}

.ab:focus,
.ab:hover {
  transform: scale(1.1);
}

.po3 {
  position: relative;
} */
/* 
.ab3 {
  position: absolute;
  top: 170px;
  left: 46px;
}

.ab3:focus,
.ab3:hover {
  transform: scale(1.2);
} */

.margin-0 {
  margin-bottom: 0;
}

/* -------------------------------- */

.form {
  margin-top: 30px;
  max-width: 402px;
}

.form__field {
  margin-bottom: 20px;
}

.form__field:nth-child(3) {
  margin-bottom: 0;
}

@media screen and (min-width: 1300px) {
  .form__field {
    margin-bottom: 32px;
  }
}

.form__label {
  display: block;
}

.form__input {
  padding: 22px 24px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;
  color: black;
  border: solid 1px rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
  .form__input {
    padding: 18px 24px;
  }
}

.form__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  background: var(--brand-color-3);
  border: 1px solid black;
  color: #000;
  text-transform: uppercase;
  border-radius: 0;

  /* transition: all 250ms linear; */
}

.form__button:focus,
.form__button:hover {
  background: var(--brand-2);
}

@media screen and (max-width: 768px) {
  .form__button {
    padding: 18px;
  }
}

.form__terms {
  display: block;
  margin: 0 auto;
  width: 256px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: black;
}

.form__link {
  font-size: 15px;
  color: black;
  text-underline-offset: 2px;
}

.form__input:focus {
  border-color: orangered;
  outline: none;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.a {
  position: relative;
}

.b {
  position: absolute;
  width: 121px;
  height: 318px;
  top: 125px;
  left: 32%;
  z-index: 1;
  opacity: 0;
}

.c {
  width: 240px;
  position: absolute;
  top: 25%;
  left: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f2;
  border-radius: 10px;
}

.item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 70px;
}

.c img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.b:hover {
  opacity: 1;
}

p {
  margin: 0;
  padding: 0;
}

.d {
  width: 240px;
  position: absolute;
  top: 16%;
  left: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f2;
  border-radius: 10px;
}

.d img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.e {
  position: absolute;
  width: 67px;
  height: 183px;
  top: 274px;
  left: 76%;
  z-index: 1;
  opacity: 0;
}

.e:hover {
  opacity: 1;
}

.number {
  display: inline-block;
  color: var(--brand-3);
}

.contact-disc {
  margin-top: 0;
  font-size: 45px;
  color: white;
  margin-bottom: 0;
}

.wapper-contact img {
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .wapper-contact img {
    width: 220px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .wapper-contact img {
    width: 400px;
  }
}

.line {
  border: 1px solid;
  border-inline: 5px solid;
  border-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    Aqua,
    Fuchsia,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
}

.line-2 {
  border: 1px solid;
  border-inline: 5px solid;
  border-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    Aqua,
    Fuchsia,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .line-2 {
    margin-bottom: 50px;
  }
}

.w15 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.loading {
  display: none;
}

.act {
  display: block;
}

.load {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: black;
  width: 150px;
  box-shadow: none;
  color: white;
  padding: 10px;

  transition: all 250ms linear;
}

.load:focus,
.load:hover {
  background-color: var(--brand-2);
}

.label-img {
  margin-top: 20px;
  display: block;
  color: black;
  margin-bottom: 5px;
}

.text-img {
  color: white;
}

.fff {
  color: white;
  background-color: var(--brand-2);
  padding: 10px;
}

.more {
  display: inline;
  margin-left: 10px;
  color: var(--brand-3);
  font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .more {
    font-size: 14px;
  }
}

@media screen and (min-width: 1300px) {
  .more {
    font-size: 25px;
  }
}

.home-studio {
  color: white;
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;

  font-optical-sizing: auto;
  background: linear-gradient(
    90deg,
    rgba(51, 235, 216, 1) 35%,
    rgba(0, 155, 255, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 768px) {
  .home-studio {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .home-studio {
    font-size: 27px;
    margin-bottom: 11px;
  }
}

.text-brand {
  max-width: 685px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 768px) {
  .text-brand {
    line-height: 1.4;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .text-brand {
    max-width: 739px;
    font-size: 14px;
  }
}

.logo-text {
  display: block;
  margin-top: 0;
  font-size: 39px;
  text-align: left;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .logo-text {
    font-size: 22px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .logo-text {
    font-size: 26px;
  }
}

.te {
  margin-bottom: 10px;
}

.mo {
  color: var(--brand-3);
}

.flex-1 {
  display: flex;
  align-items: center;
}

/* -------------------------------------------- */

.home {
  padding-top: 100px;
  background-color: var(--black-m);
}

@media screen and (max-width: 768px) {
  .home {
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .home {
    padding-top: 50px;
  }
}

.home-left {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, auto));
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .home-left {
    order: 1;
  }
}

.flex-home {
  display: grid;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .flex-home {
    grid-template-columns: auto, 1fr;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .flex-home {
    gap: 22px;
    grid-template-columns: 1fr 1fr;
  }
}

.home-title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 70px;
  font-size: 38px;
  color: var(--brand-3);
}

@media screen and (max-width: 768px) {
  .home-title {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .home-title {
    margin-bottom: 45px;
    font-size: 24px;
  }
}

.home-text {
  color: white;
}

.home-img {
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .none {
    display: none;
  }
}

.p {
  border-radius: 12px;
  border: 1px solid white;
  padding: 10px;
}
/* ------------------- */

.hi {
  margin-top: 10px;
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

.hi-text {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
}

@media screen and (min-width: 1300px) {
  .hi-text {
    display: none;
  }
}

.blue-title {
  font-size: 38px;
}

@media screen and (max-width: 768px) {
  .blue-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .blue-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .blue-title {
    font-size: 24px;
  }
}

.order {
  color: black;
  cursor: url(/images/cursor/cursor-2.png), auto;
  width: 224px;
  background-color: var(--brand-3);
  border-radius: 6px;
  padding: 5px;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .order {
    margin-left: 5px;
    font-size: 26px;
    margin-right: 5px;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .order {
    width: 200px;
  }
}

.order:focus,
.order:hover {
  background-color: var(--brand-2);
}

.rr {
  font-size: 38px;
}

.noy {
  cursor: not-allowed;
  font-size: 38px;
  color: white;
}

@media screen and (max-width: 768px) {
  .noy {
    margin-left: 5px;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .noy {
    font-size: 24px;
  }
}

.аdvantages {
  position: relative;
  padding-top: 57px;
  padding-bottom: 100px;
  color: white;
  background-color: var(--black-m);
  /* z-index: 1; */
}

.nnn {
  position: absolute;
  top: 10px;
  left: 0;
  background: var(--brand-color-3);
  width: 100%;
  height: 400px;
  /* transform: rotate(-3deg); */
  /* z-index: 2; */
}

@media screen and (max-width: 768px) {
  .nnn {
    left: 7px;
    width: 96%;
    top: 103px;
    height: 540px;
  }
}

@media screen and (min-width: 768px) {
  .nnn {
    transform: rotate(-3deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .nnn {
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .аdvantages {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .аdvantages {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.h-h {
  position: relative;
  margin-top: 10px;
  font-size: 38px;
  margin-bottom: 50px;
  text-transform: uppercase;
  /* z-index: 3; */
}

@media screen and (max-width: 768px) {
  .h-h {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-h {
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .h-pp {
    font-size: 14px;
  }
}

.h-a {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, auto));
  position: relative;
  /* z-index: 3; */
}

.h-a li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 30px;
  padding: 10px 5px;
}

p {
  color: white;
}

.x {
  font-size: 12px;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.4);
}

.xx {
  display: flex;
  font-size: 12px;
  margin-right: auto;
  justify-content: right;
  color: black;
}

.btn-2 {
  font-size: 14px;
  padding: 10px;
  width: 118px;
  background-color: var(--black-m);
  /* margin-right: auto; */
  margin-left: auto;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  transition: background-color 250ms linear;
  /* transform: perspective(400px) rotateX(0);
  transition: transform 450ms linear; */
}

.btn-2:focus,
.btn-2:hover {
  background-color: var(--brand-2);
  /* transform: perspective(400px) rotateX(25deg); */
}

.btn-3 {
  display: none;
}

@media screen and (max-width: 768px) {
  .btn-3 {
    display: block;
    width: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: var(--brand-2);
  }
}

.section {
  position: relative;
  padding-top: 15px;
}

/* .аdvantages {
  position: relative;
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  background-image: url(/images/cont1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 850px;
  z-index: -1;
} */

.h-t {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(12, 13, 19, 1) 0%,
    rgba(12, 13, 19, 0) 100%
  );
  width: 100%;
  height: 20vw;
  top: 0;
}

.h-s {
  background: rgba(12, 13, 19, 0.4);
  width: 100%;
  z-index: -1;
  height: 100%;
}

.h-b {
  width: 100%;
  height: 20vw;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(12, 13, 19, 1) 0%,
    rgba(12, 13, 19, 0) 100%
  );
}

/* @media screen and (max-width: 768px) {
  .overlay {
    background-position: center left;
    height: 610px;
    background-attachment: fixed;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .overlay {
    height: 500px;
  }
} */

@media screen and (max-width: 768px) {
  .wapper {
    justify-content: center;
  }
}

.h-flex li {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  video {
    max-width: 330px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  video {
    max-width: 360px;
  }
}

.h-ridht {
  position: relative;
}

@media screen and (max-width: 1300px) {
  .o {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .o {
    position: absolute;
    top: 75px;
    left: 76px;
    z-index: 1;
    transform: scale(1);
    transition: transform 150ms linear;
  }
}

.o:focus,
.o:hover {
  transform: scale(1.3);
}

/* .swiper {
  display: flex;
  max-width: 430px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .swiper {
    max-width: 327px;
  }
} */

/* 
.mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
} */

.reason {
  font-size: 38px;
  font-weight: 700;
}

@media screen and (max-width: 1300px) {
  .reason {
    font-size: 23px;
  }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* ------------------------------- */

.pro {
  background-color: var(--black-m);
  padding-top: 20px;
  padding-bottom: 20px;
}

.pro-title {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 38px;
}

.pro-text {
  font-size: 24px;
}

.w-pro {
  display: grid;
  grid-template-columns: auto auto;
  gap: 72px;
}

.w-pro-2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 72px;
}

/* ddsdsdsds */
body {
  position: relative;
  height: 100%;
}

.swiper {
  /* display: flex; */
  max-width: 760px;
  /* width: 100%; */
  /* height: auto; */
  /* margin: 0 auto; */
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .swiper {
    max-width: 435px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* color: var(--swiper-theme-color); */
  color: white;
  background-color: black;
  border-radius: 50%;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  /* stroke: var(--swiper-theme-color); */
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.mySwiper .swiper-slide {
  opacity: 1;
}

.btn-0 {
  transition: 1s;
  background-image: linear-gradient(
    270deg,
    #111 25%,
    rgba(51, 235, 216, 1),
    /* rgba(0, 155, 255, 1), */ #111 100%
  );
  animation: 10s linear infinite colorChange;
  background-size: 500%;
  transition-behavior: allow-discrete;
}

@keyframes colorChange {
  0% {
    background-position: 500% 0;
  }

  100% {
    background-position: 0 500%;
  }
}

.title-2 {
  color: black;
  margin-top: 0;
  font-size: 38px;
  margin-bottom: 39px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .title-2 {
    font-size: 30px;
  }
}
