html {
  scroll-behavior: smooth;
}

:root {
  --bg-color-1: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 253, 149, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --bg-color-2: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 105, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --white-color: white;
  --bg-color-3: linear-gradient(
    90deg,
    rgba(149, 26, 189, 1) 0%,
    rgba(29, 253, 153, 1) 100%
  );

  --brand-color-3: linear-gradient(
    90deg,
    rgba(37, 197, 204, 1) 0%,
    rgba(237, 81, 245, 1) 100%
  );

  --brand-color: black;
  --brand-2: #ff01ff;
  --brand-3: #39fcfc;

  --gray-color: #899499;
  --black-m: #0d0e0e;
  --black-m1: #1c1f1f;
  /* --black-m: #1c2023; */
}

body {
  margin: 0;
  background-color: white;
  cursor: url(/images/cursor/cursor-1.png), auto;
}

h3 {
  margin: 0;
}

ul {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  ul {
    gap: 13px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

a {
  cursor: url(/images/cursor/cursor-2.png), auto;
}

button {
  cursor: url(/images/cursor/cursor-2.png), auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  /* max-width: 503px; */
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 76px;
  font-weight: 700;
  top: 0;
  left: 13%;
  z-index: 1;
  color: white;
  /* font-family: 'Dancing Script', cursive; */
  font-optical-sizing: auto;
}

.h-text-1 {
  font-size: 23.5px;
  margin-bottom: 17px;
}

@media screen and (max-width: 768px) {
  .h-text-1 {
    font-size: 16.5px;
    margin-bottom: 8px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-text-1 {
    font-size: 14.5px;
    margin-bottom: 10px;
  }
}

.smile {
  font-size: 25px;
}

.h-flex {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .h-flex {
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-flex {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .h-flex li img {
    align-self: start;
  }
}

.btn-0 {
  position: relative;
  padding: 13px;
  width: 295px;
  background: var(--brand-color-3);
  border: 1px solid black;
  color: black;
  /* transition: all 250ms linear; */

  /* transition: all 250ms linear; */
}

.btn-0:focus,
.btn-0:hover {
  background: var(--brand-2);
}

@media screen and (max-width: 768px) {
  .btn-0 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 213px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .btn-0 {
    font-size: 13px;
    width: 181px;
  }
}

.qqq {
  position: relative;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 53px;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

/* add scrollbar */
.window {
  overflow: auto;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar {
  background: white;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--brand-3);
}

/* ----------------------------------------------------------- */
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 93px;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: var(--black-m);
}

.h-link {
  background-color: #899499;
  width: 140px;
  border-radius: 8px;
  padding: 5px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 370px) {
  .container {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}

.h-flex p {
  font-size: 13.1px;
}

@media screen and (max-width: 768px) {
  .h-flex p {
    font-size: 8.3px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-flex p {
    font-size: 7px;
  }
}

.section {
  background: var(--black-m);
  padding-top: 45px;
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section {
    padding-top: 10px;
  }
}

.header-wapper {
  display: grid;
  grid-template-columns: 41%;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .header-wapper {
    grid-template-columns: 22%;
  }
}

.menu {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .menu {
    gap: 15px;
    grid-template-columns: 22%;
  }
}

.img-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  border: 1px solid black;
}

.btn-wapper {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px;
  border-radius: 8px;
  text-align: center;
  color: var(--brand-3);
  font-size: 15px;
  transition: background-color 250ms linear;
  box-shadow: 0px 6px 10px var(--brand-2);
}

/* .btn:focus,
.btn:hover {
  background-color: var(--brand-2);
  box-shadow: none;
} */

.wapper {
  border-radius: 12px;
}

.www {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .www {
    display: block;
  }
}

.auto {
  border-radius: 10px;
}

.menu a {
  box-shadow: 0px 6px 10px var(--brand-2);
  font-size: 15px;
  color: white;
  transition: color 250ms linear;
  color: var(--brand-3);
}

.menu-2 {
  display: flex;
  position: fixed;
  bottom: 0;
  gap: 0;
  justify-content: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: black;
  border: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu-2 a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  font-size: 11.5px;
  transition: color 250ms linear;
  padding-right: 14px;
  padding-left: 14px;

  background-color: black;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;

  transition: all 250ms linear;
}

/* .sm:focus,
.sm:hover {
  color: var(--brand-2);
} */

@media screen and (min-width: 768px) {
  .menu-2 {
    display: none;
  }
}

.menu a:hover {
  color: var(--brand-2);
  transform: scale(1.2);
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .menu a {
    font-size: 15px;
  }
}

.right {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.right-text {
  display: block;
  text-align: center;
  margin-top: 6px;
  color: white;
}

@media screen and (max-width: 768px) {
  .right-text {
    margin-right: auto;
    margin-left: auto;
    max-width: 303px;
    margin-bottom: 15px;
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .right-text {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1300px) {
  .right-text {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.text {
  padding: 0;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

@media screen and (max-width: 1300px) {
  .text {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1300px) {
  .text {
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
  }
}

.q {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  padding-top: 2px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .q {
    padding-top: 10px;
  }
}

@media screen and (max-width: 1300px) {
  .q {
    display: block;
  }
}

.text-2023 {
  color: white;
  margin: 0;
  margin-right: 14px;
  margin-left: 30px;
}

button {
  font-weight: 700;
  width: 93.5px;
  border-radius: 8px;
  color: black;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border: 1px solid white;
}

@media screen and (max-width: 768px) {
  button {
    width: 35px;
  }
}

@media screen and (min-width: 768px) {
  button {
    width: 89.5px;
  }
}

/* button:focus,
button:hover {
  background-color: var(--brand-2);
} */

.div {
  display: flex;
  flex-direction: column;
  gap: 54px;
  display: none;
}

@media screen and (max-width: 768px) {
  .div {
    display: none;
  }
}

.p {
  position: relative;
  overflow: hidden;
}

.service {
  padding-top: 50px;
  padding-bottom: 30px;
  background: var(--black-m);
}

@media screen and (max-width: 768px) {
  .service {
    padding-top: 30px;
  }
}

.service-title {
  margin-top: 0;
  font-size: 38px;
  margin-bottom: 39px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .service-title {
    /* padding-top: 20px; */
    font-size: 19px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .service-title {
    font-size: 24px;
  }
}

.wapper-social {
  display: block;
}

.wapper-social h3 {
  margin-bottom: 20px;
}

.icons-center {
  display: flex;
  justify-content: center;
}

.icon {
  fill: white;
}

.icon:hover {
  fill: #44bcbc;
}

a {
  display: inline-block;
  text-align: center;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, auto));
  gap: 30px;
  color: black;
}

.service-list li {
  display: grid;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid black;
  transition:
    border 250ms linear,
    background-color 250ms linear;
  background: rgba(40, 42, 50, 0.4);

  transition: all 250ms linear;
  box-shadow: 3px 2px 7px black;
}

.service-list li:focus,
.service-list li:hover {
  border-inline: 1px solid;
  border-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    Aqua,
    Fuchsia,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
}

@media screen and (min-width: 768px) {
  .service-list li {
    grid-template: auto auto minmax(40px, 100px) / auto;
  }
}

@media screen and (max-width: 1300px) {
  .service-list li {
    max-width: 354px;
  }
}

.price {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.price p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.4);
  transition: color 250ms linear 350ms;
}

span {
  display: inline-block;
  text-align: right;
  font-weight: 700;
  margin-top: 10px;
  font-size: 20px;
  margin-top: 0;
  color: white;
  transition: color 250ms linear 350ms;
}

.product {
  position: relative;
  overflow: hidden;
}

.product-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  transform: translateY(-100%);
  transition: transform 250ms linear 200ms;
}

.service-list li:hover .product-thumb {
  transform: translateY(0);
}

.product-footer {
  position: relative;
  overflow: hidden;
}

.product-thum-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  transform: translateY(0);
  transition: transform 250ms linear 200ms;
}

.product-footer:hover .product-thum-footer {
  transform: translateY(-100%);
}

.product-thumb p {
  margin-bottom: 0;
  text-align: center;
  color: white;
}

.product-thumb a {
  transform: scale(1);
  transition: transform 250ms linear;
}

.product-thumb a:hover {
  transform: scale(1.3);
}

.item-title {
  margin-top: 10px;
  color: white;
  margin-bottom: 10px;
}

.item-text {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
  .item-text {
    margin-bottom: 20px;
  }
}

/* --------------------------------------------------------------- */

.works {
  color: var(--black-m);
  padding-top: 30px;
  padding-bottom: 50px;
}

.title {
  color: black;
}

.service-works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, auto));
  gap: 30px;
  color: black;
}

.service-works li {
  max-width: 402px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  transform: scale(1);
  transition: transform 250ms linear;
}

/* .service-works li:hover {
  transform: scale(1.1);
} */

@media screen and (max-width: 1300px) {
  .service-works li {
    max-width: 353px;
  }
}

.iframe {
  max-width: 380px;
}

@media screen and (max-width: 1300px) {
  .iframe {
    max-width: 320px;
  }
}

.footer {
  padding-bottom: 60px;
  color: white;
  background: var(--black-m);
}

.wapper-0 {
  display: grid;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .wapper-0 {
    text-align: center;

    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .wapper-0 {
    grid-template-columns: 6fr 2fr 2fr 1.3fr;
  }
}

@media screen and (max-width: 768px) {
  .wapper-logo {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .footer-car {
    width: 376px;
  }
}

.wapper-address > h3 {
  font-size: 18px;
  display: inline-flex;
  color: white;
  margin-bottom: 17px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .wapper-address {
    text-align: center;
  }
}

.wapper-works > h3 {
  font-size: 18px;
  display: inline-flex;
  color: white;
  margin-bottom: 17px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .wapper-works {
    margin-bottom: 0;
    text-align: center;
  }
}

.wapper-social > h3 {
  font-size: 18px;
  display: inline-flex;
  color: white;
  text-transform: uppercase;
}

/* -------------------- */
.contact {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: var(--black-m);
}

@media screen and (max-width: 768px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.contact__form {
  text-align: center;
  width: 402px;
}

.contact__title {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .contact__form {
    max-width: 330px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .contact__form {
    width: 305px;
  }
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .contact__container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1300px) {
  .contact__container {
    gap: 32px;
    justify-content: center;
  }
}

.contact__title {
  display: inline;
  margin: 0 auto 16px;
  font-size: 30px;
  width: 265px;
  color: white;
}

@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .contact__title {
    width: 605px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .contact__title {
    font-size: 22px;
  }
}

.contact__map {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

@media screen and (max-width: 1300px) {
  .contact__map {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .contact__map {
    width: 320px;
    height: 70px;
  }
}

.contact__text {
  margin: 0 auto 24px;
  font-size: 14px;
  color: black;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .contact__text {
    margin-bottom: 42px;
    font-size: 18px;
  }
}

.wapper-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  border-radius: 12px;
  gap: 15px;
}

.bbb {
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .bbb {
    max-width: 400px;
  }
}

.ccc {
  max-width: 601px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .ccc {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .ccc {
    max-width: 400px;
    font-size: 21px;
  }
}

.po {
  position: relative;
}

.ab {
  position: absolute;
  top: 103px;
  left: 29px;
}

.ab:focus,
.ab:hover {
  transform: scale(1.1);
}

.po3 {
  position: relative;
}

.ab3 {
  position: absolute;
  top: 170px;
  left: 46px;
}

.ab3:focus,
.ab3:hover {
  transform: scale(1.2);
}

.margin-0 {
  margin-bottom: 0;
}

/* -------------------------------- */

.form {
  margin-top: 30px;
}

.form__field {
  margin-bottom: 20px;
}

.form__field:nth-child(3) {
  margin-bottom: 0;
}

@media screen and (min-width: 1300px) {
  .form__field {
    margin-bottom: 32px;
  }
}

.form__label {
  display: block;
}

.form__input {
  padding: 22px 24px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;
  color: black;
  border: solid 1px rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
  .form__input {
    padding: 18px 24px;
  }
}

.form__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  background: var(--brand-color-3);
  border: 1px solid black;
  color: #000;
  text-transform: uppercase;
  border-radius: 0;

  /* transition: all 250ms linear; */
}

.form__button:focus,
.form__button:hover {
  background: var(--brand-2);
}

@media screen and (max-width: 768px) {
  .form__button {
    padding: 18px;
  }
}

.form__terms {
  display: block;
  margin: 0 auto;
  width: 256px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: black;
}

.form__link {
  font-size: 15px;
  color: black;
  text-underline-offset: 2px;
}

.form__input:focus {
  border-color: orangered;
  outline: none;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.a {
  position: relative;
}

.b {
  position: absolute;
  width: 121px;
  height: 318px;
  top: 125px;
  left: 32%;
  z-index: 1;
  opacity: 0;
}

.c {
  width: 240px;
  position: absolute;
  top: 25%;
  left: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f2;
  border-radius: 10px;
}

.item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 70px;
}

.c img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.b:hover {
  opacity: 1;
}

p {
  margin: 0;
  padding: 0;
}

.d {
  width: 240px;
  position: absolute;
  top: 16%;
  left: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f2;
  border-radius: 10px;
}

.d img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.e {
  position: absolute;
  width: 67px;
  height: 183px;
  top: 274px;
  left: 76%;
  z-index: 1;
  opacity: 0;
}

.e:hover {
  opacity: 1;
}

.number {
  display: inline-block;
  color: var(--brand-3);
}

.contact-disc {
  margin-top: 0;
  font-size: 45px;
  color: white;
  margin-bottom: 0;
}

.wapper-contact img {
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .wapper-contact img {
    width: 400px;
  }
}

.line {
  border: 1px solid;
  border-inline: 5px solid;
  border-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    Aqua,
    Fuchsia,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
}

.line-2 {
  border: 1px solid;
  border-inline: 5px solid;
  border-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    Aqua,
    Fuchsia,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .line-2 {
    margin-bottom: 50px;
  }
}

.w15 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.loading {
  display: none;
}

.act {
  display: block;
}

.load {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: black;
  width: 150px;
  box-shadow: none;
  color: white;
  padding: 10px;

  transition: all 250ms linear;
}

.load:focus,
.load:hover {
  background-color: var(--brand-2);
}

.label-img {
  margin-top: 20px;
  display: block;
  color: black;
  margin-bottom: 5px;
}

/* input#image_uploads.input-img {
  padding: 10px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
} */

.text-img {
  color: white;
}

.fff {
  color: white;
  background-color: var(--brand-2);
  padding: 10px;
}

.more {
  display: inline;
  margin-left: 10px;
  color: var(--brand-3);
  font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .more {
    font-size: 14px;
  }
}

@media screen and (min-width: 1300px) {
  .more {
    font-size: 25px;
  }
}

.home-studio {
  color: white;
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .home-studio {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .home-studio {
    font-size: 27px;
    margin-bottom: 11px;
  }
}

.text-brand {
  max-width: 685px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 768px) {
  .text-brand {
    line-height: 1.4;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .text-brand {
    max-width: 739px;
    font-size: 14px;
  }
}

.logo-text {
  display: block;
  margin-top: 0;
  font-size: 39px;
  text-align: left;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .logo-text {
    font-size: 22px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .logo-text {
    font-size: 26px;
  }
}

.te {
  margin-bottom: 10px;
}

.mo {
  color: var(--brand-3);
}

.flex-1 {
  display: flex;
  align-items: center;
}

/* -------------------------------------------- */

.home {
  padding-top: 100px;
  background-color: var(--black-m);
}

@media screen and (max-width: 768px) {
  .home {
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .home {
    padding-top: 50px;
  }
}

.home-left {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, auto));
  gap: 20px;
}

.flex-home {
  display: grid;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .flex-home {
    grid-template-columns: auto, 1fr;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .flex-home {
    gap: 22px;
    grid-template-columns: 1fr 1fr;
  }
}

.home-title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 70px;
  font-size: 38px;
  color: var(--brand-3);
}

@media screen and (max-width: 768px) {
  .home-title {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .home-title {
    margin-bottom: 45px;
    font-size: 24px;
  }
}

.home-text {
  color: white;
}

.home-img {
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .none {
    display: none;
  }
}

.p {
  border-radius: 12px;
  border: 1px solid white;
  padding: 10px;
}
/* ------------------- */

.hi {
  margin-top: 10px;
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

.hi-text {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
}

@media screen and (min-width: 1300px) {
  .hi-text {
    display: none;
  }
}

.blue-title {
  font-size: 38px;
}

@media screen and (max-width: 768px) {
  .blue-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .blue-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .blue-title {
    font-size: 24px;
  }
}

.order {
  color: black;
  cursor: url(/images/cursor/cursor-2.png), auto;
  width: 224px;
  background-color: var(--brand-3);
  border-radius: 6px;
  padding: 5px;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .order {
    margin-left: 5px;
    font-size: 26px;
    margin-right: 5px;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .order {
    width: 200px;
  }
}

.order:focus,
.order:hover {
  background-color: var(--brand-2);
}

.rr {
  font-size: 38px;
}

.noy {
  cursor: not-allowed;
  font-size: 38px;
  color: white;
}

@media screen and (max-width: 768px) {
  .noy {
    margin-left: 5px;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .noy {
    font-size: 24px;
  }
}

.аdvantages {
  position: relative;
  padding-top: 57px;
  padding-bottom: 100px;
  color: white;
  background-color: var(--black-m);
  z-index: 1;
}

.nnn {
  position: absolute;
  top: 10px;
  left: 0;
  background: var(--brand-color-3);
  width: 100%;
  height: 400px;
  transform: rotate(-3deg);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .nnn {
    left: 7px;
    width: 97%;
    top: 164px;
    height: 260px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .nnn {
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .аdvantages {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .аdvantages {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.h-h {
  position: relative;
  margin-top: 10px;
  font-size: 38px;
  margin-bottom: 50px;
  text-transform: uppercase;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .h-h {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .h-h {
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .h-pp {
    font-size: 14px;
  }
}

.h-a {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, auto));
  position: relative;
  z-index: 3;
}

.h-a li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 30px;
  padding: 10px 5px;
}

p {
  color: white;
}

.x {
  font-size: 12px;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.4);
}

.xx {
  display: flex;
  font-size: 12px;
  margin-right: auto;
  justify-content: right;
  color: black;
}

.btn-2 {
  padding: 10px;
  width: 160px;
  background-color: var(--black-m);
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border: 1px solid white;
  font-family: inherit;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  transition: background 250ms linear;
}

.btn-2:focus,
.btn-2:hover {
  background-color: var(--brand-2);
}

.btn-3 {
  display: none;
}

@media screen and (max-width: 768px) {
  .btn-3 {
    display: block;
    width: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: var(--brand-2);
  }
}

/* .btn-3:focus,
.btn-3:hover {
  background-color: var(--brand-3);
} */

.section {
  position: relative;
}

/* .аdvantages {
  position: relative;
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  background-image: url(/images/cont1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 850px;
  z-index: -1;
} */

.h-t {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(12, 13, 19, 1) 0%,
    rgba(12, 13, 19, 0) 100%
  );
  width: 100%;
  height: 20vw;
  top: 0;
}

.h-s {
  background: rgba(12, 13, 19, 0.4);
  width: 100%;
  z-index: -1;
  height: 100%;
}

.h-b {
  width: 100%;
  height: 20vw;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(12, 13, 19, 1) 0%,
    rgba(12, 13, 19, 0) 100%
  );
}

/* @media screen and (max-width: 768px) {
  .overlay {
    background-position: center left;
    height: 610px;
    background-attachment: fixed;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .overlay {
    height: 500px;
  }
} */

@media screen and (max-width: 768px) {
  .wapper {
    justify-content: center;
  }
}

.h-flex li {
  display: flex;
  align-items: center;
}

/* .po {
  position: relative;
}

.po3 {
  position: relative;
}

.ab {
  position: absolute;
  top: 103px;
  left: 28px;
}

.ab:focus,
.ab:hover {
  transform: scale(1.1);
}

.ab3 {
  position: absolute;
  top: 170px;
  left: 48px;
}

.ab3:focus,
.ab3:hover {
  transform: scale(1.2);
} */

@media screen and (max-width: 768px) {
  video {
    max-width: 340px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  video {
    max-width: 360px;
  }
}
