<a href='/products'>Обратно до товарів</a>

<h1>Це сторінка одного продукта</h1>
<article>
  <img
    width='300'
    height='170'
    src='{{product.image}}'
    alt='{{product.name}}'
  />
  <h2>{{product.name}}</h2>
  <p>Ціна: {{product.price}} кредитів</p>
  <button>Замовити</button>
</article>